<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<th:block th:if="*{message}">
    <p th:text="*{message}"></p>
</th:block>
<form th:action="@{/}" method="post" th:object="${user}">

    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <th>First Name :</th>
            <td><input type="text" th:field="*{firstName}"/></td>
            <td th:errors="*{firstName}"></td>
        </tr>
        <tr>
            <th>Last Name :</th>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td th:errors="*{lastName}"></td>
        </tr>
        <tr>
            <th>Age :</th>
            <td><input type="text" th:field="*{age}"/></td>
            <td th:errors="*{age}"></td>
        </tr>
        <tr>
            <th>Email :</th>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:errors="*{email}"></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>